{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>
    <script src='static/leaflet.js'></script>
    <div class="row">
        <div class="col-12">
            <div id='map'></div>
            <script src='static/leaflet.js'></script>
        </div>
    </div>
    <div id="filterEvent" class="filterEvent">
        <button class="openbtn" onclick="openNav()">☰ Search Events</button>
    </div>
    <div id="sidebarSearch" class="sidebar" style="margin-top: 3rem">
        <h3 style="margin-left: 4%">Search Events</h3>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <form name="userInput" style="margin-left: 4%" method="post" action="{{ url_for('home') }}">
            <h6>Date</h6>
            <input class="event-textinput" type="date" name="date" placeholder="On Date" />
            <h6>Time </h6>
            <input class="event-textinput" type="time" name="time" placeholder="On Time" />
            <h6>Select Categories</h6>
            <select class="event-textinput" type="text" name="category" multiple>
                {% for category in categories %}
                    <option type="checkbox" value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>
            <h6>Max Age Limit</h6>
            <input class="event-textinput" type="number" name="ageLimit" placeholder="Age Limit" />
            <h6>Maximum Price</h6>
            <input class="event-textinput" type="number" name="ticketPrize" placeholder="Ticket Price" />
            <h6>Maximum distance (meters)</h6>
            <input class="event-textinput" type="number" name="distance" placeholder="Max distance from your location">
            <br>
            <p>Velg hvor avstanden skal måles fra</p>
            <input id="pos" class="radio" type="radio" name="pos" value="" onclick="getCurrPosition()"> From your current position<br>
            <input id="markpos" class="radio" type="radio" name="pos" value="" onclick ="getMarkPosition()"> From marked position on map<br>
            <br>
            <input class="submit action-button" type="submit" name="submit" value="Search">
            <p></p>
            <p></p>
            <br>
            <p></p>
            <p></p>
        </form>
    </div>

    <script type="text/javascript">
      var options = {  //**spiderfier
        keepSpiderfied: true,
      };
      var oms = new OverlappingMarkerSpiderfier(map, options);

      var geocoder = L.Control.geocoder({
              defaultMarkGeocode: false
          }).on('markgeocode', function(e) {
              var bbox = e.geocode.bbox;
              map.fitBounds(e.geocode.bbox);
          })
          .addTo(map);

          {% for event, cords in events_latlong %}
              var cord = {{ cords }}
              console.log(cord);
              var marker = L.marker(cord);
              marker.bindPopup('<h5>{{ event.title }}</h5><p>{{ event.startdate.time() }} , {{ event.startdate.date() }}</p> '
                                    +'<p>{{event.category_name}}</p> <p>{{ event.venueName }} , {{ event.venueAddress }} </p>  '+
                                    '<a href = {{ event.facebookEventUrl }} class=button target="_blank">Gå til event</a>');
              marker.on('click', function (ev) {
                  ev.target.openPopup();
              });
              marker.addTo(map);
              map.addLayer(marker);
              oms.addMarker(marker);
          {% endfor %}
    </script>
    {#{% for i in range(0,latlong|length)%}
        <script>
            var pos = ({{ latlong[i] }});
            if (pos != 'None'){
                var lat = pos[0];
                var long = pos[1];
                console.log([lat,long]);
                var currentMarker = L.marker(pos).addTo(map);
                //var popup = ('<p>'+ '{{ events[i].title }}' +'</p>'+'<br>'+'<p>'+{{ events[i].startDate }}+'</p>');
                currentMarker.bindPopup('<h5>{{ events[i].title }}</h5><p>{{ events[i].startdate.time() }} , {{ events[i].startdate.date() }}</p> '
                                        +'<p>{{events[i].category_name}}</p> <p>{{ events[i].venueName }} , {{ events[i].venueAddress }} </p>  '+
                                        '<a href = {{ events[i].facebookEventUrl }} class=button target="_blank">Gå til event</a>');
                currentMarker.on('click', function (ev) {
                    ev.target.openPopup();
                });
        }
        </script>
    {% endfor %}#}
    <script>
        function openNav() {
          document.getElementById("sidebarSearch").style.width = "400px";
          document.getElementById("filterEvent").style.marginLeft = "-400px";
        }

        function closeNav() {
          document.getElementById("sidebarSearch").style.width = "0";
          document.getElementById("filterEvent").style.marginLeft= "0";
        }
    </script>
    <script>
    var starpin = new Icon({iconUrl: 'https://cdn2.iconfinder.com/data/icons/map-locations-filled-pixel-perfect/64/pin-map-location-28-512.png'});
        if (({{ lat_user }}) != 'None') {
            var lat_user = ({{ lat_user }});
            var long_user = ({{ long_user }});

            var marker = L.marker([lat_user, long_user]).addTo(map);
            marker.setIcon(starpin);
        }
        if (({{ distance }}) != 'None') {
            var dist = ({{ distance }});
            var circle = L.circle([lat_user, long_user], {
                color: 'grey',
                fillColor: 'grey',
                fillOpacity: 0.1,
                radius: dist
            }).addTo(map);
        }
        map.setView([lat_user,long_user]);
    </script>
{% endblock content %}