{% extends "layout.html" %}
{% block content %}
    <div class="row">
          <div class="col-md-4">
              <div class="content-section">
                <h3>Show events</h3>
                <form name="userInput" method="POST">
                    <p>From</p>
                    <input type="date" name="startDate" placeholder="Start Date" />
                    <p>To</p>
                    <input type="date" name="endDate" placeholder="End Date" />
                    <p>Select Categories</p>
                    <input type="checkbox" name="sports" />Sports<br>
                    <input type="checkbox" name="concert" />Concert<br>
                    <input type="checkbox" name="museum" />Museum<br>
                    <input type="checkbox" name="theatre" />Theatre
                    <p></p>
                    <input type="number" name="ageLimit" placeholder="Age Limit" />
                    <input type="number" name="ticketPrize" placeholder="Ticket Price" />
                    <input type="number" name="distance" placeholder="Max distance from your location">
                    <input type="submit" name="submit" placeholder="Show matching events">
                </form>
              </div>
          </div>
        <div class="col-md-8">
            <div id='map'></div>
            <script src='static/leaflet.js'></script>
            {% for event in events %}
                <h1>{{ event.Title }}</h1>
                <p> {{ event.Description }}</p>
                <p> {{ event.venueName }}</p>
                <p> Venue Coordinates: {{ event.venueCoordinates }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}