<!-- https://codepen.io/atakan/pen/gqbIz -->
{% extends "layout.html" %}
{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='reg.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <h1>Register Event</h1>
    <p>Get started on registering your own events!</p>
      <!-- multistep form -->
    <form id="msform" method="POST">
      <!-- progressbar -->
      <ul id="progressbar">
        <li class="active">General Information</li>
        <li>When</li>
        <li>Additional Information</li>
      </ul>
      <!-- fieldsets -->
      <fieldset>
        <h2 class="fs-title">Register your event</h2>
        <h3 class="fs-subtitle">General Information</h3>
        <input type="text" name="title" placeholder="Title" />
        <input type="text" name="description" placeholder="Description" />
        <input type="text" name="venueName" placeholder="Venue Name" />
        <textarea name="venueAddress" placeholder="Address"></textarea>
        <input type="text" name="venueCoordinates" placeholder="Venue Coordinates" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Time Details</h2>
        <h3 class="fs-subtitle">Details regarding when the events is happening</h3>
        <input type="date" name="date" placeholder="On Date" />
        <input type="time" name="startTime" placeholder="Start Time" />
        <input type="text" name="repetetiveEvent" placeholder="Does the event repeat?">
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </fieldset>
      <fieldset>
        <h2 class="fs-title">Additional Information</h2>
        {% for category in categories %}
        <input type="checkbox" name="{{ category }}"/>{{ category }}<br>
        {% endfor %}
        <input type="number" name="ageLimit" placeholder="Age Limit" />
        <input type="number" name="ticketPrize" placeholder="Ticket Price" />
        <input type="text" name="organizerWebsite" placeholder="Event website" />
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
      </fieldset>
    </form>
{% endblock content %}


<!--
 FROM ADRESS TO COORDINATES

function getLatitudeLongitude(callback, address) {
    // If adress is not supplied, use default value 'Ferrol, Galicia, Spain'
    address = address || 'Ferrol, Galicia, Spain';
    // Initialize the Geocoder
    geocoder = new google.maps.Geocoder();
    if (geocoder) {
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                callback(results[0]);
            }
        });
    }
}

 -->